<div class="progress-bar">
  <div style="background-color: #f2f2f2; border-radius: 5px; height: 20px; width: 100%; overflow: hidden;">
    <div style="background-color: #3A3F87; height: 100%; width: <%= (chart_data[:total].to_f / chart_data[:goal]) * 100 %>%;"> </div>
  </div>
</div>
