<div class="dashboard-title">
  <h1>Hi, <%= @user.first_name %>!</h1>
</div>

<%= render 'analytics/summary' %>

<div class="dashboard-graphs">
  <div class="container">
    <% @charts_data.each do |tanda_name, chart_data| %>
      <%= render 'analytics/dashboard', tanda_name: tanda_name, chart_data: chart_data %>
    <% end %>
  </div>
</div>

<%= render 'analytics/line_graph' %>
