<h2>Wallet Information</h2>
  <% if current_user.wallet_data.present? %>
    <p><strong>Wallet Address:</strong> <%= current_user.wallet_data['seed'] %></p>
    <p><strong>Balance:</strong> <%= current_user.balance %> ETH</p>
    <%= button_to "Fund Wallet", fund_wallet_path(current_user.id), method: :post %>
  <% else %>
    <p>No wallet found. Create one now:</p>
    <%= button_to "Create Wallet", create_wallet_path(current_user.id), method: :post %>
  <% end %>
