<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center mb-4">
<h1>My Tandas</h1>
<%= link_to "New Tanda", new_tanda_path, class: "btn btn-primary" %>
</div>

<div id="tandas">
  <% @tandas.each do |tanda| %>
    <%= render tanda %>
  <% end %>
</div>
