<h1>Editing user tanda</h1>

<%= render "form", user_tanda: @user_tanda %>

<br>

<div>
  <%= link_to "Show this user tanda", @user_tanda %> |
  <%= link_to "Back to user tandas", user_tandas_path %>
</div>
