<p style="color: green"><%= notice %></p>

<h1>User tandas</h1>

<div id="user_tandas">
  <% @user_tandas.each do |user_tanda| %>
    <%= render user_tanda %>
    <p>
      <%= link_to "Show this user tanda", user_tanda %>
    </p>
  <% end %>
</div>

<%= link_to "New user tanda", new_user_tanda_path %>
