<h1>TANDA</h1>

<p>Save, together!</p>

<div>
  <ul>
    <li>Collaborative Saving: Save together with your loved ones or coworkers.</li>

    <li>Built with Ruby: A fast, secure, and reliable app powered by Ruby.</li>

    <li>Personalized Saving Goals: Track your goals with clear targets and deadlines.</li>

    <li>Security First: Your data is encrypted and safe with industry-standard protocols.</li>
  </ul>
</div>

<div>
  <h2>How TANDA Works</h2>
  <ol>
    <li><strong>Create Your Account:</strong> Sign up and create your personalized savings goal.</li>

    <li><strong>Form a Group:</strong> Invite your friends or family to start saving together.</li>

    <li><strong>Set a Goal:</strong> Define your savings target and set a timeline.</li>

    <li><strong>Save Together:</strong> Contribute regularly and track your group's progress.</li>

    <li><strong>Celebrate Success:</strong> Reach your goal and celebrate with your group!</li>
  </ol>
</div>

<div>
  <h2>FAQ</h2>
  <ol>
    <li><strong>Why use TANDA?</strong></li>
    <p>Tanda is an application that will allow you to plan and save for any goals with you family and friends!</p>

    <li><strong>Where do I start?</strong></li>
    <p>Start a tanda, invite your friends, invite your family.</p>
  </ol>

</div>

<div>
  <h2>Get Started Today!</h2>
  <p>It’s time to turn your saving goals into a reality. Start saving with TANDA now!</p>

  <a href="" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</>
  <%= link_to 'Sign Up', new_user_registration_path, class: 'cta-button' %>
</div>

<div>
