<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center mb-4">
<h1>My transactions</h1>
<%= link_to "New Tanda", new_tanda_path, class: "btn btn-primary" %>
</div>

<div id="transactions">
  <% @transactions.each do |transaction| %>
  <div class="mb-5">
    <%= render transaction %>
    </div>
  <% end %>
</div>
